html {
  background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/background.png?raw=true') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: scroll;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(231, 157, 68);
  -webkit-text-stroke: 2px black;
}

#title {
  margin-bottom: 0;
  margin-top: 0;
}

h2, span {
  text-align: center;
  font-size: 40px;
  color: rgb(215, 186, 132);
  -webkit-text-stroke: 1px black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button {
  color: rgb(215, 186, 132);
  background-color: rgb(77, 60, 29);
}

#start {
  text-align: center;
  font-size: 30px;
}

#timer{
  color: white;
}

.grid {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url('https://github.com/devon-23/js-dev-final-Catch-A-Cappy/assets/mallet.png'), pointer;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("https://github.com/devon-23/js-dev-final-Catch-A-Cappy/assets/hole.png") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 110%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  background:url('https://github.com/devon-23/js-dev-final-Catch-A-Cappy/assets/mole.png') bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: 0;
  transform: scale(1.1);
}

#difficulty {
  text-align: center;
  font-size: 35px;
  color: rgb(215, 186, 132);
  -webkit-text-stroke: 1px black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#difficultySelector {
  width: 80px;
  color: rgb(215, 186, 132);
  background-color: rgb(94, 81, 55);
  -webkit-text-stroke: 1px rgb(215, 186, 132);;
}
